<main class="contenedor-servicios">
  <h2>Nuestros planes mensuales</h2>
  <div class="box-servicio">
      <div class="card-servicio">
          <h4>Oro</h4>
          <h5>AR$150</h5>
          <p><i class="fa-solid fa-circle-check"></i> Seguimiento en vivo de localización geográfica</p>
          <p><i class="fa-solid fa-circle-check"></i> Alertas de emergencia a tu red de contactos</p>
          <p><i class="fa-solid fa-circle-check"></i> Alerta de emergencia a comisaría policial mas cercana</p>
          <button class="btn-servicio">Suscribíte</button>
      </div>
  </div>
  <div class="box-servicio">
      <div class="card-servicio servicio-recomendado">
          <h4>Diamante</h4>
          <h5>AR$300</h5>
          <p><i class="fa-solid fa-circle-check"></i> Seguimiento en vivo de localización geográfica</p>
          <p><i class="fa-solid fa-circle-check"></i> Alertas de emergencia a tu red de contactos</p>
          <p><i class="fa-solid fa-circle-check"></i> Alerta a comisaría policial mas cercana</p>
          <p><i class="fa-solid fa-circle-check"></i> Servicios de emergencia médica</p>
          <p><i class="fa-solid fa-circle-check"></i> Asistencia vial</p>
          <button class="btn-servicio btn-servicio-recomendado">Suscribíte</button>
      </div>
  </div>
  <div class="box-servicio">
      <div class="card-servicio">
          <h4>Platino</h4>
          <h5>AR$500</h5>
          <p><i class="fa-solid fa-circle-check"></i> Seguimiento en vivo de localización geográfica</p>
          <p><i class="fa-solid fa-circle-check"></i> Alertas de emergencia a tu red de contactos</p>
          <p><i class="fa-solid fa-circle-check"></i> Alerta a comisaría policial mas cercana</p>
          <p><i class="fa-solid fa-circle-check"></i> Servicios de emergencia médica</p>
          <p><i class="fa-solid fa-circle-check"></i> Asistencia vial</p>
          <p><i class="fa-solid fa-circle-check"></i> Asistencia legal y abogados de guardia</p>
          <p><i class="fa-solid fa-circle-check"></i> Línea de ayuda de consejería de trauma y suicidio</p>
          <button class="btn-servicio">Suscribíte</button>
      </div>
  </div>
</main>
