<main>
  <section class="content">
      <div class="box-uno">
          <h1>helpU - Tu asistente de seguridad</h1>
          <p>
              Envía una alerta a los contactos de tu confianza y a las autoridades si te encuentras en una situación
              de peligro. Con helpU solo necesitás tu celular a mano.
          </p>
      </div>
      <div class="box-dos">
          <div class="box-imagen">
              <div class="box-circular">
                  <img src="./assets/img/gps-2798348_1920.png" alt="smartphone" width="400">
              </div>
          </div>
      </div>
  </section>
  <section class="instrucciones">
      <div class="titulo-instrucciones">
          <h3>Seguí estos pasos</h3>
      </div>
      <div class="box-instrucciones">
          <div class="box-paso">
              <h4>01. Registrate</h4>
               <p>Regístrate en nuestra página con tus datos y descarga la app</p>
          </div>
          <div class="box-paso">
              <h4>02. Inicia sesión</h4>
              <p>Inicia sesión con tus datos si es la primera vez que utilizas la app</p>
          </div>
           <div class="box-paso">
              <h4>03. Crea tu red</h4>
              <p>Añade tus contactos de confianza a la app</p>
           </div>
           <div class="box-paso">
              <h4>04. Alerta</h4>
              <p>Cuando te encuentres en peligro solo presiona el botón y helpU hará todo lo demás</p>
          </div>
      </div>
  </section>
</main>
