<header>
  <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
      </label>
      <a routerLink="/home/" class="enlace">
          <img src="../assets/img/logo.png" alt="" class="logo">
      </a>
      <ul>
          <li><a routerLink="/servicios/">Servicios</a></li>
          <li><a routerLink="/login/">Iniciar sesión</a></li>
          <li><a routerLink="/registro/">Registrate</a></li>
          <li><a routerLink="/contacto/">Contacto</a></li>
      </ul>
  </nav>
</header>
