<main class="contenedor">
  <div class="box-form">
      <form action="" method="">
          <div class="img-form">
              <img src="./assets/img/form-img3.png" alt="icon">
          </div>
          <div class="titulo-form">
              <h4>Iniciar sesión</h4>
          </div>
          <div class="correo">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" placeholder="Correo electronico" required>
          </div>
          <div class="password">
              <label for="pwd">Contraseña</label>
              <input type="password" name="pwd" id="pwd" placeholder="Contraseña" required>
          </div>
          <div class="boton-enviar">
              <input type="submit" value="Ingresar">
          </div>
      </form>
  </div>
</main>
